<ion-header class="ion-no-border">
  <ion-toolbar [color]="color ? color : 'primary'">
    
    <ion-buttons  slot="start">
        <!-- cerrar modal -->
        <ion-button  *ngIf="isModal">
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
        <!-- boton atras -->
        <ion-back-button *ngIf="botonAtras" [defaultHref]="botonAtras"></ion-back-button>
    </ion-buttons>
    <!-- titutlo -->
    <ion-title *ngIf="titulo" [ngClass]="{'ion-text-center': centrarTitulo}">{{titulo}}</ion-title>
    <!-- botton para cambiar modo -->
    <ion-buttons slot="end">
      
      <ion-button (click)="setTheme(false)" *ngIf="darkMode.value">
        <ion-icon  name="sunny-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="setTheme(true)" *ngIf="!darkMode.value">
        <ion-icon  name="moon-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>