<!-- // input normal -->
<ion-item  *ngIf="type !== 'textarea'" class="ion-margin-vertical">
  <ion-icon color="primary"*ngIf="icon" slot="start" [name]="icon"></ion-icon>
  <ion-label position="floating">{{label}}</ion-label>
  <!-- debounce para generar un retraso al mostrar el error -->
  <ion-input debounce="500" [autocomplete]="autocomplete" [type]="type" [formControl]="control"></ion-input>
  <ion-buttons *ngIf="isPassword" slot="end">
    <ion-button (click)="showOrHidePassword()">
      <ion-icon [name]="hide ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
      
    </ion-button>
  </ion-buttons>
</ion-item>
<!-- input textarea -->
<ion-item *ngIf="type == 'textarea'" class="ion-margin-vertical">
  <ion-label position="floating">{{label}}</ion-label>
  <!-- auto-grow sirve para que el espacio del texto se agrande cuando se escribe -->
  <ion-textarea auto-grow="true" debounce="500" [formControl]="control" ></ion-textarea>
</ion-item>