

<ion-content>
    <app-header titulo="Tareas"></app-header>
    <div class="content">
       
            <ion-button  (click)="agregarOActualizarTarea()" class="ion-margin" >
                Ver Tarea
                <ion-icon slot="end" name="add-circle-outline"></ion-icon>
            </ion-button>
    <ion-grid>
        <ion-row>
            <!-- configuracion de tamanios para cada tipo de pantalla -->
            <!-- aplico directiva ngfor para recorrer cada uno de los elementos del arreglo -->
            <ion-col *ngFor="let t of tareas" size-lg="6" size-md="6" size-sm="12" size="12">
                <ion-card mode="md">

                    <ion-grid >
                        <ion-row>
                            <!-- configuracion de tamanios para cada tipo de pantalla -->
                            <ion-col class="ion-text-center" size-lg="5" size-md="5" size-sm="4" size="12"> <circle-progress
                                [percent]="getPorcentaje(t)"
                                [radius]="65"
                                [outerStrokeWidth]="6"
                                [innerStrokeWidth]="4"
                                [outerStrokeColor]="'#78C000'"
                                [innerStrokeColor]="'#C7E596'"
                                [animation]="true"
                                [titleColor]="'var(--ion-color-dark)'" 
                                [animationDuration]="300"
                                [subtitle]="'progreso'"></circle-progress></ion-col>
                            <ion-col class="ion-padding" size-lg="7" size-md="7" size-sm="8" size="12">
                                <div class="titulo">{{t.titulo}}</div>
                                <!-- aplico slice para mostrar cierta cantidad de caracteres -->
                                <p>{{t.descripcion | slice:0:85}}</p>
                                <!-- botones -->
                                <div class="ion-text-center">
                                    <ion-button  (click)="agregarOActualizarTarea(t)" class="boton-tarea" size="small">
                                        Ver Tarea
                                        <ion-icon slot="end" name="book-outline"></ion-icon>
                                    </ion-button>
                                    <ion-button class="boton-tarea" size="small" color="danger">
                                        Borrar Tarea
                                        <ion-icon slot="end" name="trash-outline"></ion-icon>
                                    </ion-button>
                                </div>
                            
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                
                    
                </ion-card>
            </ion-col>
            
        </ion-row>
    </ion-grid>
    </div>
</ion-content>
