<ion-content color="light">
    <app-header
    color="light"
    [centrarTitulo]="true"
    [isModal]="true"
    [titulo]="tarea ? 'Tarea ' : 'Nueva Tarea'"
    ></app-header>
    <!-- ingreso del titulo -->
    <app-custom-input
        autocomplete="name"
        [control]="form.controls.titulo"
        type="text"
        label="Titulo"
    ></app-custom-input>
    <!-- contemplar posibles errores -->
    <div
        class="validators"
        *ngIf="form.controls.titulo.errors && form.controls.titulo.dirty"
    >
        <div *ngIf="form.controls.titulo.errors?.['required']">
            Este campo es requerido.
        </div>
        <div *ngIf="form.controls.titulo.errors?.['minlength']">
            Debe haber al menos 4 caracteres
        </div>
    </div>
    <!-- ingreso de la descripcion  -->
    <app-custom-input
    autocomplete="name"
    [control]="form.controls.titulo"
    type="textarea"
    label="Descripcion"
    ></app-custom-input>
    <!-- contemplar posibles errores -->
    <div
    class="validators"
    *ngIf="form.controls.descripcion.errors && form.controls.descripcion.dirty"
    >
    <div *ngIf="form.controls.descripcion.errors?.['required']">
        Este campo es requerido.
    </div>
    <div *ngIf="form.controls.descripcion.errors?.['minlength']">
        Debe haber al menos 4 caracteres
    </div>
    </div>

    <ion-item class='item-header' lines="none">
        <ion-label>Actividades</ion-label>
        <!-- Mostramos el progreso de las tareas, si al menos existe una tarea -->
        <span slot="end" *ngIf="form.value.item.length">Progreso: {{getPorcentaje()}}%</span>
        <!-- Boton para agregar un nuevo item a la actividad -->
        <ion-button (click)="createItem()" slot="end">
            <ion-icon  name="add-circle-outline"></ion-icon>
        </ion-button>
    </ion-item>
    <!-- barra de progreso -->
    <ion-range [value]="getPorcentaje()">
    </ion-range>
    <!-- Muesta las actividades y permite reorganizarlas o borrarlas -->
    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">

        <div *ngFor="let item of form.value.item; index as i">
                <!-- recorremos los items pero del formulario -->
            <ion-item lines="none" >
                <!-- marcar las actividades como finalizadas -->
                <ion-checkbox slot="start" color="success" [(ngModel)]="item.finalizado"></ion-checkbox>
                <!-- ion-text-wrap se aplica para que el texto no se corte y salte de linea -->
                <ion-label class="ion-text-wrap">
                {{ item.name }}
                </ion-label>

                <ion-buttons slot="end">
                    <ion-button (click)="removeItem(i)">
                        <ion-icon  name="trash-outline"></ion-icon>
                    </ion-button>
                </ion-buttons>

                
            </ion-item>
            <!-- reorganiza las actividades -->
            <ion-item class="ion-reorder">
                <ion-reorder slot="end"></ion-reorder>
            </ion-item>

        </div>

    </ion-reorder-group>

    
</ion-content>
<ion-footer>
    <div class="ion-text-center">
        <ion-button class="ion-no-margin" [disabled]="form.invalid" (click)="submit()" shape="round">
            {{tarea ? 'Guardar Cambios' : 'Crear Tarea'}}
        </ion-button>
    </div>
</ion-footer>
